# Guarneri-style device YAML configuration

apsbits.utils.sim_creator.predefined_device:
- {creator: ophyd.sim.motor, name: sim_motor}
- {creator: ophyd.sim.noisy_det, name: sim_det}

apstools.devices.SimulatedApsPssShutterWithStatus:
- name: shutter
  labels: ["shutters"]

apstools.devices.aps_undulator.PlanarUndulator:
- name: undulator
  prefix: "S09ID:DSID:"

# incorporated into eiger16m -- will have to rethink if to be used with
# other devices
#common_9id.devices.fastShutter:
#- name: fastShutter
#  prefix: "9idd:fastshutter:"
  
# ophyd.Signal:
# - name: test
#   value: 50.7
# - name: t2
#   value: 2
 
# White beam apertures (SL-1, SL-2)
common_9id.devices.HHLApertureWBA:
- name: slit1
  prefix: "9ida:SL-1:"
  labels: ["slits", "baseline"]
  pitch_motor: "9ida:CR9A1:m3"
  yaw_motor: "9ida:CR9A1:m4"
  horizontal_motor: "9ida:CR9A1:m1"
  diagonal_motor: "9ida:CR9A1:m2"
- name: slit2
  prefix: "9ida:SL-2:"
  labels: ["slits", "baseline"]
  pitch_motor: "9ida:CR9A1:m11"
  yaw_motor: "9ida:CR9A1:m12"
  horizontal_motor: "9ida:CR9A1:m9"
  diagonal_motor: "9ida:CR9A1:m10"
  
# High heat load mirrors (MR-1, MR-2)
ophyd.EpicsMotor:
- {name: "mr1_piezo",   prefix: "9ida:FMBO:Piezo:m1", labels: ["motor", "baseline"]}
- {name: "mr2_piezo",   prefix: "9ida:FMBO:Piezo:m2", labels: ["motor", "baseline"]}
common_9id.devices.AcsMotor:
- {name: "mr1_y",       prefix: "9ida:FMBO:m2", labels: ["motor", "baseline"]}
- {name: "mr1_x",       prefix: "9ida:FMBO:m4", labels: ["motor", "baseline"]}
- {name: "mr1_pitch",   prefix: "9ida:FMBO:m6", labels: ["motor", "baseline"]}
- {name: "mr2_y",       prefix: "9ida:FMBO:m1", labels: ["motor", "baseline"]}
- {name: "mr2_x",       prefix: "9ida:FMBO:m3", labels: ["motor", "baseline"]}
- {name: "mr2_pitch",   prefix: "9ida:FMBO:m5", labels: ["motor", "baseline"]}
- {name: "mr2_bender1", prefix: "9ida:FMBO:m7", labels: ["motor", "baseline"]}
- {name: "mr1_bender2", prefix: "9ida:FMBO:m8", labels: ["motor", "baseline"]}
# FLAG 1, FLAG 2, FLAG 3, FLAG 4 -- motors
- {name: "flag1_mot", prefix: "9ida:CR9A1:m5", labels: ["motor", "baseline"]}
- {name: "flag2_mot", prefix: "9ida:CR9A1:m13", labels: ["motor", "baseline"]}
- {name: "flag3_mot", prefix: "9ida:MONO:m3", labels: ["motor", "baseline"]}
- {name: "flag4_mot", prefix: "9idd:CR9D1M1:m10", labels: ["motor", "baseline"]}
# DAMM
- {name: "damm_hor", prefix: "9ida:CR9A1:m6", labels: ["motor", "baseline"]}
- {name: "damm_vert", prefix: "9ida:CR9A1:m7", labels: ["motor", "baseline"]}
# XBPM 1 (MH), XBPM 2 (D) + wedge base
- {name: "bd3_base_hor", prefix: "9idd:CR9D1M1:m7", labels: ["motor", "baseline"]}
- {name: "bd3_base_vert", prefix: "9idd:CR9D1M1:m8", labels: ["motor", "baseline"]}
- {name: "bd5_base_hor", prefix: "9idd:CR9D1M1:m23", labels: ["motor", "baseline"]}
- {name: "bd5_base_vert", prefix: "9idd:CR9D1M1:m24", labels: ["motor", "baseline"]}
# Slits 3,4,5 wedge bases
- {name: "slit3_base_hor",  prefix: "9idd:CR9D1M1:m5", labels: ["motor", "baseline"]}
- {name: "slit3_base_vert", prefix: "9idd:CR9D1M1:m6", labels: ["motor", "baseline"]}
- {name: "slit4_base_hor",  prefix: "9idd:CR9D1M1:m15", labels: ["motor", "baseline"]}
- {name: "slit4_base_vert", prefix: "9idd:CR9D1M1:m16", labels: ["motor", "baseline"]}
- {name: "slit5_base_hor",  prefix: "9idd:CR9D1M1:m21", labels: ["motor", "baseline"]}
- {name: "slit5_base_vert", prefix: "9idd:CR9D1M1:m22", labels: ["motor", "baseline"]}
# KB mirror and granite base (base shared with CSSI sample station
- {name: "kb_cssi_granite", prefix: "9idd:CR9D1M1:m29", labels: ["motor", "baseline"]}

common_9id.devices.FlexCombinedCap:
- name: kb_ver_us
  prefix: "9idKB:"
  combined: "m15"
  labels: ["motors", "baseline"]
  fine: "m1"
  coarse: "m7"
  cap_sensor: "cap1"
- name: kb_ver_ds
  prefix: "9idKB:"
  combined: "m16"
  labels: ["motors", "baseline"]
  fine: "m2"
  coarse: "m11"
  cap_sensor: "cap2"
- name: kb_hor_us
  prefix: "9idKB:"
  combined: "m17"
  labels: ["motors", "baseline"]
  fine: "m4"
  coarse: "m9"
  cap_sensor: "cap5"
- name: kb_hor_ds
  prefix: "9idKB:"
  combined: "m18"
  labels: ["motors", "baseline"]
  fine: "m5"
  coarse: "m13"
  cap_sensor: "cap6"

# JJ X-ray slits + base
#apstools.synApps.Optics2Slit2D_HV:
common_9id.devices.Optics2Slit2D_soft:
- name: slit3
  prefix: "9idd:Slit3"
  labels: ["slits", "baseline"]
- name: slit4
  prefix: "9idd:Slit4"
  labels: ["slits", "baseline"]
- name: slit5
  prefix: "9idd:Slit5"
  labels: ["slits", "baseline"]

# MONO
apstools.devices.KohzuSeqCtl_Monochromator:
#common_9id.devices.KohzuSeqCtl_Mono_FixedMode:
- name: idt_mono
  prefix: "9ida:"
  labels: ["mono", "baseline"]

# AVS Filter support
common_9id.devices.AVSfilters:
- name: fl1
  prefix: "9idPyFilter:FL1:"
  labels: ["filters", "baseline"]
  translation_motor: "9idd:CR9D1M2:m16"
  
# Transfocator (CRL1, CRL2) optics support
common_9id.devices.JJtransfocator2xZ:
- name: crl9id2x
  prefix: "9idPyCRL:CRL9ID:"
  labels: ["transfocators", "baseline"]
  pitch1_motor: "9idd:TRANS:m4"
  yaw1_motor: "9idd:TRANS:m3"
  x1_motor: "9idd:TRANS:m2"
  y1_motor: "9idd:TRANS:m1"
  pitch2_motor: "9idd:TRANS:m28"
  yaw2_motor: "9idd:TRANS:m27"
  x2_motor: "9idd:TRANS:m26"
  y2_motor: "9idd:TRANS:m25"
  z2_motor: "9idd:TRANS:m24"

#TetrAMM
#ophyd.TetrAMM:
#common_9id.devices.MyTetrAMM:
#- name: tetramm1
#  prefix: "9idTetra:QUAD1:"
#  port_name: "QUAD1"
#  labels: ["tetramm"]
#- name: tetramm2
#  prefix: "9idTetra:QUAD2:"
#  port_name: "QUAD2"
#  labels: ["tetramm"]
#- name: tetrammSpare
#  prefix: "9idTetraSpare:QUAD1:"
#  port_name: "QUAD1"
#  labels: ["tetramm"]

ophyd.EpicsSignal:
- {name: "file_name", read_pv: "9idd:StrReg1", labels: ["metadataPV"], string: "True"}
- {name: "file_path", read_pv: "9idd:StrReg2", labels: ["metadataPV"], string: "True"}
- {name: "metadata_full_path", read_pv: "9idd:StrReg3", labels: ["metadataPV"], string: "True"}
- {name: "qmap_file", read_pv: "9idd:StrReg4", labels: ["metadataPV"], string: "True"}
- {name: "analysis_machine", read_pv: "9idd:StrReg5", labels: ["metadataPV"], string: "True"}
- {name: "workflow_name", read_pv: "9idd:StrReg6", labels: ["metadataPV"], string: "True"}
- {name: "experiment_name", read_pv: "9idd:StrReg7", labels: ["metadataPV"], string: "True"}
- {name: "cycle_name", read_pv: "9idd:StrReg8", labels: ["metadataPV"], string: "True"}
- {name: "sample_name", read_pv: "9idd:StrReg9", labels: ["metadataPV"], string: "True"}
- {name: "spec_file", read_pv: "9idd:StrReg10", labels: ["metadataPV"], string: "True"}
- {name: "analysis_type", read_pv: "9idd:StrReg11", labels: ["metadataPV"], string: "True"}
- {name: "start_bluesky", read_pv: "9idd:StrReg12", labels: ["metadataPV"], string: "True"}
- {name: "user_description", read_pv: "9idd:StrReg13", labels: ["metadataPV"], string: "True"}
- {name: "user_comments", read_pv: "9idd:StrReg13", labels: ["metadataPV"], string: "True"}
- {name: "scattering_orientation", read_pv: "9idd:StrReg13", labels: ["metadataPV"], string: "True"}
- {name: "measurement_num", read_pv: "9idd:Reg1", labels: ["metadataPV"]}
- {name: "qnw_index", read_pv: "9idd:Reg2", labels: ["metadataPV"]}
#- {name: "sample0_pos", read_pv: "9idd:Reg3", labels: ["metadataPV"]}
#- {name: "sample1_pos", read_pv: "9idd:Reg4", labels: ["metadataPV"]}
#- {name: "sample2_pos", read_pv: "9idd:Reg5", labels: ["metadataPV"]}
#- {name: "sample3_pos", read_pv: "9idd:Reg6", labels: ["metadataPV"]}
#- {name: "sample4_pos", read_pv: "9idd:Reg7", labels: ["metadataPV"]}
#- {name: "sample5_pos", read_pv: "9idd:Reg8", labels: ["metadataPV"]}
#- {name: "sample6_pos", read_pv: "9idd:Reg9", labels: ["metadataPV"]}
#- {name: "sample7_pos", read_pv: "9idd:Reg10", labels: ["metadataPV"]}
#- {name: "sample8_pos", read_pv: "9idd:Reg11", labels: ["metadataPV"]}
#- {name: "sample9_pos", read_pv: "9idd:Reg12", labels: ["metadataPV"]}
#- {name: "sample10_pos", read_pv: "9idd:Reg13", labels: ["metadataPV"]}
#- {name: "sample11_pos", read_pv: "9idd:Reg14", labels: ["metadataPV"]}
#- {name: "sample12_pos", read_pv: "9idd:Reg15", labels: ["metadataPV"]}
#- {name: "sample13_pos", read_pv: "9idd:Reg16", labels: ["metadataPV"]}
#- {name: "sample14_pos", read_pv: "9idd:Reg17", labels: ["metadataPV"]}
#- {name: "sample15_pos", read_pv: "9idd:Reg18", labels: ["metadataPV"]}
#- {name: "sample16_pos", read_pv: "9idd:Reg19", labels: ["metadataPV"]}
#- {name: "sample17_pos", read_pv: "9idd:Reg20", labels: ["metadataPV"]}
#- {name: "sample18_pos", read_pv: "9idd:Reg21", labels: ["metadataPV"]}
#- {name: "sample19_pos", read_pv: "9idd:Reg22", labels: ["metadataPV"]}
#- {name: "sample20_pos", read_pv: "9idd:Reg23", labels: ["metadataPV"]}
#- {name: "sample21_pos", read_pv: "9idd:Reg24", labels: ["metadataPV"]}
#- {name: "sample22_pos", read_pv: "9idd:Reg25", labels: ["metadataPV"]}
#- {name: "sample23_pos", read_pv: "9idd:Reg26", labels: ["metadataPV"]}
#- {name: "sample24_pos", read_pv: "9idd:Reg27", labels: ["metadataPV"]}
#- {name: "sample25_pos", read_pv: "9idd:Reg28", labels: ["metadataPV"]}
#- {name: "sample26_pos", read_pv: "9idd:Reg29", labels: ["metadataPV"]}
#- {name: "sample27_pos", read_pv: "9idd:Reg30", labels: ["metadataPV"]}
#- {name: "eiger_det_x0", read_pv: "9idd:Reg31", labels: ["metadataPV"]}
#- {name: "eiger_det_y0", read_pv: "9idd:Reg32", labels: ["metadataPV"]}
#- {name: "eiger_db_x0", read_pv: "9idd:Reg33", labels: ["metadataPV"]}
#- {name: "eiger_db_y0", read_pv: "9idd:Reg34", labels: ["metadataPV"]}
#- {name: "rigaku_det_x0", read_pv: "9idd:Reg35", labels: ["metadataPV"]}
#- {name: "rigaku_det_y0", read_pv: "9idd:Reg36", labels: ["metadataPV"]}
#- {name: "rigaku_db_x0", read_pv: "9idd:Reg37", labels: ["metadataPV"]}
#- {name: "rigaku_db_y0", read_pv: "9idd:Reg38", labels: ["metadataPV"]}
#- {name: "current_det_x0", read_pv: "9idd:Reg39", labels: ["metadataPV"]}
#- {name: "current_det_y0", read_pv: "9idd:Reg40", labels: ["metadataPV"]}
#- {name: "current_db_x0", read_pv: "9idd:Reg41", labels: ["metadataPV"]}
#- {name: "current_db_y0", read_pv: "9idd:Reg42", labels: ["metadataPV"]}
  
# TODO D-Hutch fast shutter

# TODO XBPM 1/2 (BD3/5) data acquisition

# TODO AD for FLAG 1, FLAG 2, FLAG 3, FLAG 4 

apstools.devices.ad_creator:
  - name: eiger16m
    prefix: "9idEiger16m:"
    labels: ["area_detector", "detectors"]
    bases: !!python/name:common_9id.devices.FancyEigerDetector
    sg_trigger: "9iddMZds:"
    fastShutterPV: "9idd:fastshutter:"
    ext_trig_mode: "3"
    eigerBool: "True"
    plugins:
      - cam:
          class: common_9id.devices.Eiger2DetectorCam_V34
      - image
      - pva
      - process1
      - transform1
      - cc1
      - cc2
      - overlay1
      - roi1
      - roi2
      - roi3
      - roi4
      - stats1
      - stats2
      - stats3
      - stats4
      - stats5
      - scatter1
      - gather1: 
          class: ophyd.areadetector.plugins.GatherPlugin
          suffix: "Gather1:"
      - gather11: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "1"
      - gather12: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "2"
      - gather13: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "3"
      - gather14: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "4"
      - gather15: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "6"
      - gather17: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "7"
      - gather18: 
          class: ophyd.areadetector.plugins.GatherNPlugin_V31
          suffix: "Gather1:"
          index: "8"
      - roistat1
      - cb1
      - attr1
      - fft1
      - codec1
      - codec2:
          class: ophyd.areadetector.plugins.CodecPlugin_V34
          suffix: "Codec2:"
      - badpix1:
          class: common_9id.devices.BadPixelPlugin
          suffix: "BadPix1:"
      - hdf1:
          class: apstools.devices.AD_EpicsFileNameHDF5Plugin
          read_path_template: "/path/to/bluesky/tmp/"
          write_path_template: "/gdata/dm/9IDD/2025-2/"


# apstools.devices.ad_creator:
#   - name: adsimdet
#     prefix: "ad:"
#     labels: ["area_detector", "detectors"]
#     plugins:
#       - cam:
#           class: apstools.devices.SimDetectorCam_V34
#       - image
#       - pva
#       - hdf1:
#           class: apstools.devices.AD_EpicsFileNameHDF5Plugin
#           read_path_template: "/path/to/bluesky/tmp/"
#           write_path_template: "/path/to/ioc/tmp/"
#       - roi1
#       - stats1

# OMEGA MFC -- uses asyn record for direct communication
# Not added to baseline as I don't know if it can take a reading properly
# Need to update to prefix to correspond to correct asyn port/moxa
#!common_9id.devices.omegaMFCasyn:
#!    - name: omega_MFC_1
#!      prefix: "9idd:asyn_5"
#!      labels: ["mfc"]
#!    - name: omega_MFC_2
#!      prefix: "9idd:asyn_6"
#!      labels: ["mfc"]
