# Guarneri-style device YAML configuration

apsbits.utils.sim_creator.predefined_device:
- {creator: ophyd.sim.motor, name: sim_motor_xpcs}
- {creator: ophyd.sim.noisy_det, name: sim_det_xpcs}

# Motions
ophyd.EpicsMotor:
- {name: "aerorot_1",      prefix: "9idAerotech2:R1:m1", labels: ["motors", "baseline"]}

common_9id.devices.aerotechHexapod:
- name: hexapod1
  prefix: "9idAerotech:HP1:"
  labels: ["hexapod", "motors", "baseline"]
  x: "m7"
  y: "m8"
  z: "m9"
  ax: "m10"
  ay: "m11"
  az: "m12"
- name: hexapod2
  prefix: "9idAerotech2:HP2:"
  labels: ["hexapod", "motors", "baseline"]
  x: "m7"
  y: "m8"
  z: "m9"
  ax: "m10"
  ay: "m11"
  az: "m12"
  
